.mainContainer {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 243, 240);

}
.locationsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width:100%
}

.header {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color:rgb(46, 196, 182)
}

/* ----------------------------------------------
Locations
---------------------------------------------- */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:20px;
  margin-bottom: 20px;
  width:85%;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.title {
font-weight: bold;
font-size: 1.5em;
color: rgb(46, 196, 182)
}
.phone{
  margin-top: 20px;
  margin-bottom: 20px;
}
.ratingTitle{
  text-decoration: underline;
}
.deleteButton{
  background-color: rgb(255, 159, 28);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}